.left-panel {
  height: 100vh;
}

.icon-button {
  background: none;
  border: none;
  color: inherit;
}
.search-wrap {
  height: 54px;
}
.tab-btn .tab-btn-close {
  display: none;
  /* visibility: hidden; */
}
.tab-btn:hover .tab-btn-close {
  display: inline-block;
  /* visibility: visible; */
}
.unsave-dot {
  width: 11px;
  height: 11px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
}
.tab-btn:hover .unsave-dot {
  display: none;
}
.placeholder {
  font-size: 30px;
  color: #ccc;
  margin: 100px auto;
}